@media (max-width: 1200px) {
  .about{
    &__item{
      &:not(:last-child):after{
        padding-left: 21%
      }
    }
    .clouds{
      background-size: contain;
    }
  }
}
@media (max-width: 767px) {
  .about{
    padding: 60px 0;
    &__item{
      padding-bottom: 20px;
      &:not(:last-child):after{
        content: none;
      }
    }
  }
}
@media (max-width: 576px) {
  .about{
    .row{
      padding-bottom: 45px;
    }
    &__button{
      flex-direction: column;
    }
    &__or{
      padding: 10px 0;
    }
    &__read{
      width: 100%;
    }
    &__get{
      width: 100%;
    }
    &__text{
      font-size: 18px;
      line-height: 26px;
    }
    &__choice{
      font-size: 20px;
    }
    &__description{
      font-size: 13px;
    }
  }
}