* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
* img {
  object-fit: cover;
  width: 100%;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: black;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin-bottom: 0;
}

img {
  vertical-align: middle;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1206px;
  }
}
@media (max-width: 1206px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}
.navbar-light {
  padding: 1rem 0 1.25rem 0 !important;
}
.navbar-light .navbar-collapse.menu-right {
  flex-grow: 0;
}
.navbar-light .navbar-brand {
  width: 26px;
  height: 26px;
  background: #5E81FE;
  border-radius: 20px;
  margin-right: 70px;
}
.navbar-light .navbar-nav {
  align-items: center;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #5E81FE !important;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link {
  color: #697CA6;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
}
.navbar-light .navbar-nav .nav-link svg path {
  fill: #9399AB;
}
.navbar-light .navbar-nav.menu-page {
  gap: 42px;
}
.navbar-light .navbar-nav.menu-icon {
  gap: 37px;
}
.navbar-light .navbar-nav.menu-icon .nav-link:hover {
  transition: 0.3s;
}
.navbar-light .navbar-nav.menu-icon .nav-link:hover svg path {
  fill: #5E81FE;
}
.navbar-light .navbar-nav.menu-icon .menu-button {
  padding: 13px 20px;
  background: #D2E1FF;
  color: #3A79FF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}
.navbar-light .navbar-nav.menu-icon .menu-button:hover {
  background: #5E81FE;
  color: #ffffff !important;
}

@media (max-width: 992px) {
  .navbar-light .navbar-brand {
    margin-right: 25px;
  }
  .navbar-light .navbar-nav.menu-page, .navbar-light .navbar-nav.menu-icon {
    gap: 20px;
  }
  .navbar-light .navbar-nav.menu-icon .menu-button {
    padding: 10px 18px;
  }
}
@media (max-width: 767px) {
  .navbar-light .navbar-nav.menu-page {
    padding-bottom: 25px;
  }
  .navbar-light .navbar-nav.menu-icon {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar-light .navbar-nav.menu-icon .menu-button {
    width: 100%;
  }
  .navbar-light .navbar .show {
    transition: 0.5s all;
  }
}
.banner {
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  height: 80vh;
  overflow: hidden;
  border: 1px solid #D8E3FE;
}
.banner .carousel {
  height: 80vh;
}
.banner .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #D1D6E3;
  border: unset;
  margin: 0 6px;
}
.banner .carousel-control-next, .banner .carousel-control-prev {
  display: none;
}
.banner .carousel-indicators .active {
  background-color: #5283FF;
}
.banner .carousel-indicators {
  bottom: 2em;
  z-index: 10;
}
.banner__gradient {
  position: absolute;
  bottom: 0;
}
.banner .carousel-item,
.banner .carousel-inner {
  height: 100%;
}
.banner .carousel-caption {
  bottom: unset;
}
.banner__svg_points {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(360deg, rgba(75, 113, 255, 0) 51.87%, rgba(107, 137, 248, 0.4) 380.88%);
  height: 20px;
}
.banner__svg_points .svg_circle {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: 2px solid #5E80FE;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(82, 131, 255, 0.25);
  position: relative;
}
.banner__svg_points .svg_circle:hover:after {
  content: url("../img/speed_icon.svg");
  position: absolute;
  top: -110px;
  left: -70px;
}
.banner__svg_points .svg_circle.one {
  position: absolute;
  left: 10%;
  bottom: 8%;
}
.banner__svg_points .svg_circle.two {
  position: absolute;
  left: 34%;
  bottom: 15%;
}
.banner__svg_points .svg_circle.three {
  position: absolute;
  left: 62%;
  bottom: 58%;
}
.banner__svg_points .svg_circle.four {
  position: absolute;
  right: 12%;
  top: 16%;
}
.banner__position_bg {
  position: relative;
  height: 100%;
}
.banner__clouds {
  background-image: url("../img/clouds_bg.svg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner__description {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  padding: 90px 0 16px 0;
}
.banner__title {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  color: #3D4F9F;
  padding-bottom: 28px;
}
.banner__title span.regular {
  font-weight: 300;
}
.banner__title span.bold {
  font-weight: 500;
}
.banner__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding-bottom: 20px;
}
.banner__play {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.banner__play a {
  padding-left: 2px;
}
.banner__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .banner {
    height: 500px;
  }
  .banner .carousel {
    height: 500px;
  }
}
@media (max-width: 992px) {
  .banner__svg_points .svg_circle.one {
    bottom: 9%;
  }
  .banner__svg_points .svg_circle.two {
    bottom: 17%;
  }
  .banner__description {
    padding-top: 50px;
  }
  .banner__title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .banner__description {
    padding-top: 50px;
  }
  .banner__title {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .banner__description {
    padding-top: 25px;
    font-size: 13px;
  }
  .banner__title {
    font-size: 30px;
    line-height: 40px;
  }
  .banner__text {
    line-height: 25px;
  }
}
.partners {
  padding: 58px 0;
}
.partners__list {
  display: flex;
  gap: 76px;
}
.partners__list a {
  display: flex;
  align-items: flex-end;
}
.partners__list a svg path {
  fill: #D6DAE5;
}
.partners__list a:hover svg path {
  transition: 0.5s;
  fill: #5E81FE;
}

@media (max-width: 1200px) {
  .partners__list {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .partners__list {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .partners__list a {
    width: calc(100% / 3);
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .partners {
    padding: 30px 0;
  }
  .partners__list a {
    width: 50%;
  }
}
.app {
  background: #F5F8FF;
  padding-top: 150px;
}
.app__description {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  padding: 70px 0 27px;
}
.app__title {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  color: #3D4F9F;
  padding-bottom: 27px;
}
.app__title span {
  font-weight: 300;
}
.app__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding-bottom: 47px;
}
.app__view-video {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  padding: 13px 25px;
  background: #4C85FF;
  color: #ffffff;
  border: 1px solid #4C85FF;
}
.app__view-video:hover {
  background: transparent;
  color: #4C85FF;
}
.app__view-video:hover svg path {
  fill: #4C85FF;
}
.app__features {
  color: #ADB4D2;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding: 13px 25px;
  border: 1px solid #ADB4D2;
}
.app__features:hover {
  background: #ADB4D2;
  color: #4C85FF;
}
.app__img {
  margin-left: -5%;
}
.app__img img {
  width: 118%;
}

@media (max-width: 1400px) {
  .app__img img {
    width: 105%;
  }
}
@media (max-width: 1200px) {
  .app {
    padding-top: 100px;
  }
  .app__description {
    padding-top: 40px;
  }
  .app__img {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .app__img img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .app__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .app {
    padding-top: 50px;
  }
  .app__img {
    margin-right: 25%;
  }
  .app__img img {
    width: 150%;
  }
  .app__description {
    font-size: 13px;
  }
}
@media (max-width: 440px) {
  .app__img {
    margin: 0;
  }
  .app__img img {
    width: 100%;
  }
}
.about {
  padding: 140px 0;
  text-align: center;
}
.about .row {
  padding-bottom: 90px;
}
.about__description {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  padding: 30px 0 20px;
}
.about__title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #3D4F9F;
}
.about__icon {
  width: 69px;
  height: 69px;
  border-radius: 35px;
  background-color: #F1F5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.5s;
}
.about__icon:hover {
  transform: scale(1.2);
}
.about__choice {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #4074F8;
  padding-bottom: 25px;
}
.about__text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  color: #ADB3CB;
}
.about__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__button span {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  color: #ADB3CB;
}
.about__button svg {
  margin: 0 16px;
}
.about__read, .about__get {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  padding: 13px 16px;
  border-radius: 2px;
}
.about__read:hover, .about__get:hover {
  transition: 0.3s;
  color: #ffffff;
}
.about__read {
  color: #D43F3F;
  background-color: #FFD7D7;
}
.about__read:hover {
  background-color: #D43F3F;
}
.about__get {
  color: #3A79FF;
  background-color: #D2E1FF;
}
.about__get:hover {
  background-color: #3A79FF;
}
.about__list {
  position: relative;
  padding-left: 0;
}
.about__item {
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__item:not(:last-child):after {
  content: url("../img/Line2.1.svg");
  position: absolute;
  top: 33%;
  padding-left: 16%;
}
.about .clouds {
  height: 100%;
  background-image: url("../img/clouds_bg_blue.svg");
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .about__item:not(:last-child):after {
    padding-left: 21%;
  }
  .about .clouds {
    background-size: contain;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 60px 0;
  }
  .about__item {
    padding-bottom: 20px;
  }
  .about__item:not(:last-child):after {
    content: none;
  }
}
@media (max-width: 576px) {
  .about .row {
    padding-bottom: 45px;
  }
  .about__button {
    flex-direction: column;
  }
  .about__or {
    padding: 10px 0;
  }
  .about__read {
    width: 100%;
  }
  .about__get {
    width: 100%;
  }
  .about__text {
    font-size: 18px;
    line-height: 26px;
  }
  .about__choice {
    font-size: 20px;
  }
  .about__description {
    font-size: 13px;
  }
}
.analytics {
  overflow: hidden;
}
.analytics__productivity {
  padding: 66px 50px 66px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.analytics__productivity:before {
  position: absolute;
  left: -30%;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  content: "";
  z-index: -1;
}
.analytics__users {
  padding: 66px 0 66px 50px;
  position: relative;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}
.analytics__users:after {
  position: absolute;
  right: -30%;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  content: "";
  z-index: -1;
}
.analytics__amount {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0.03em;
}
.analytics .users-amount,
.analytics .users-text {
  color: #5E80FF;
  text-align: left;
}
.analytics .productivity-amount,
.analytics .productivity-text {
  color: #ffffff;
  text-align: right;
}
.analytics__text {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
  width: 45%;
}

@media (max-width: 1200px) {
  .analytics__text {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .analytics__text {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .analytics__productivity {
    padding-right: 30px;
  }
  .analytics__users {
    padding-left: 30px;
  }
  .analytics__text {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .analytics__productivity {
    align-items: center;
    padding-right: 0;
  }
  .analytics__productivity:before {
    left: -40%;
    background: #5E80FF 73.11%;
  }
  .analytics__productivity:after {
    position: absolute;
    top: 0;
    right: -40%;
    display: block;
    width: 100%;
    height: 100%;
    background: #6888FF 12.77%;
    content: "";
    z-index: -1;
  }
  .analytics__users {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .analytics__users:after {
    right: -40%;
    background: #E0E9FF 81.53%;
  }
  .analytics__users:before {
    position: absolute;
    top: 0;
    left: -40%;
    display: block;
    width: 100%;
    height: 100%;
    background: #E9EFFF 41.56%;
    content: "";
    z-index: -1;
  }
  .analytics .productivity-text,
.analytics .users-text {
    text-align: center;
  }
}
.blog {
  padding: 104px 0;
  background: #F5F8FF;
}
.blog .carousel {
  height: 650px;
}
.blog .carousel-caption {
  top: 0;
  width: 80%;
  left: 10%;
}
.blog .carousel-control-prev {
  bottom: -15%;
  left: -5%;
}
.blog .carousel-control-next {
  bottom: -15%;
  right: -5%;
}
.blog .carousel-control-prev-icon {
  background-image: url("../img/arrow.svg");
}
.blog .carousel-control-next-icon {
  background-image: url("../img/arrow.svg");
  transform: rotate(180deg);
}
.blog .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #D1D6E3;
  border: unset;
  margin: 0 6px;
}
.blog .carousel-indicators .active {
  background-color: #5283FF;
}
.blog__description {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #3D4F9F;
  padding-bottom: 20px;
}
.blog__title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #3D4F9F;
  padding-bottom: 90px;
}
.blog__card {
  background: #ffffff;
  padding: 60px 35px;
}
.blog__img {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}
.blog__right_img {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.blog__right_img .first_child_img,
.blog__right_img .second_child_img {
  position: relative;
  box-shadow: 0 15px 100px 0 #E5EBF8;
  width: fit-content;
  height: fit-content;
  transition: 1s;
}
.blog__right_img .first_child_img:hover,
.blog__right_img .second_child_img:hover {
  transform: scale(1.2);
  z-index: 10;
}
.blog__right_img .first_child_img:after,
.blog__right_img .second_child_img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.blog__right_img .first_child_img:after {
  background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
}
.blog__right_img .second_child_img:after {
  background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
}
.blog__left_img {
  position: relative;
  box-shadow: 0 15px 100px 0 #E5EBF8;
  width: max-content;
  height: max-content;
  border-radius: 5px;
  transition: 1s;
}
.blog__left_img:hover {
  transform: scale(1.2);
  z-index: 10;
}
.blog__left_img:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
}
.blog__info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.blog__info-title {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  color: #3D4F9F;
  padding-bottom: 30px;
}
.blog__info-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0.05em;
  color: #8D96BD;
  padding-bottom: 50px;
}
.blog__info-read {
  padding: 12px 16px;
  background: #D2E1FF;
  color: #3A79FF;
  border: 1px solid #D2E1FF;
}
.blog__info-read:hover {
  transition: 0.3s;
  background: #3A79FF;
  color: #ffffff;
}
.blog__info-add {
  padding: 12px 16px;
  color: #A6B6DA;
}
.blog__info-add:hover {
  border: 1px solid #A6B6DA;
  transition: 0.3s;
  color: #9399AB;
}

@media (max-width: 1200px) {
  .blog .carousel {
    height: 700px;
  }
  .blog__img {
    width: fit-content;
  }
  .blog__right_img {
    flex-direction: unset;
  }
  .blog__right_img .first_child_img,
.blog__right_img .second_child_img {
    width: 70%;
  }
  .blog__info {
    width: fit-content;
  }
  .blog__card {
    padding: 35px;
  }
}
@media (max-width: 992px) {
  .blog__card {
    padding: 35px 10px;
  }
}
@media (max-width: 767px) {
  .blog .carousel {
    height: 750px;
  }
  .blog__img {
    flex-wrap: unset;
  }
  .blog__right_img {
    flex-direction: column;
  }
  .blog__right_img .first_child_img,
.blog__right_img .second_child_img {
    width: 100%;
  }
  .blog__card {
    flex-direction: column;
    padding: 25px 10px;
    align-items: center;
  }
  .blog__info-text {
    padding-bottom: 10px;
  }
  .blog__title {
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .blog {
    padding: 50px 0;
  }
  .blog .carousel {
    height: 800px;
  }
  .blog .carousel-control-prev,
.blog .carousel-control-next {
    display: none;
  }
  .blog__right_img {
    gap: 6px;
  }
  .blog__card {
    padding: 10px;
  }
  .blog__info-read, .blog__info-add {
    width: 100%;
  }
  .blog__info-text {
    padding-bottom: 20px;
  }
  .blog__info-title {
    padding-bottom: 15px;
  }
  .blog__description {
    font-size: 13px;
  }
}
.customers {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  padding: 105px 0 70px 0;
}
.customers .carousel {
  height: 270px;
  overflow: hidden;
}
.customers .carousel-caption {
  bottom: unset;
  padding: unset;
}
.customers .carousel-control-next-icon,
.customers .carousel-control-prev-icon {
  background: transparent;
}
.customers .carousel-inner {
  overflow: unset;
}
.customers .carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #D1D6E3;
  border: unset;
  margin: 0 6px;
}
.customers .carousel-indicators .active {
  background-color: #5283FF;
}
.customers .carousel-indicators {
  margin-left: unset;
}
.customers__info {
  padding-left: 15%;
}
.customers__description {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #3D4F9F;
  padding: 30px 0;
}
.customers__title {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0;
  text-align: left;
  color: #3D4F9F;
  padding-bottom: 15px;
}
.customers__card {
  height: 175px;
  background: #ffffff;
  position: relative;
  padding-top: 40px;
  width: 90%;
  border: 1px solid #D8E3FE;
  transition: 0.5s;
}
.customers__card:hover {
  box-shadow: 10px 10px 25px -6px #676f95;
}
.customers__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #A4ABC8;
  max-width: 70%;
}
.customers__img {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #D43F3F;
  left: 40%;
  bottom: -5rem;
  overflow: hidden;
  transition: 1s;
}
.customers__img:hover {
  transform: scale(1.2);
}
.customers p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #676F95;
  max-width: 95%;
}

@media (max-width: 1200px) {
  .customers .carousel-indicators {
    margin-left: 15%;
  }
  .customers__card {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .customers .carousel {
    overflow: unset;
  }
  .customers__info {
    padding-bottom: 50px;
  }
  .customers__card {
    width: 80%;
    height: 155px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .customers {
    padding: 50px 0;
  }
  .customers .carousel {
    height: 300px;
  }
  .customers__info {
    padding: 0 0 50px 0;
  }
  .customers__description {
    font-size: 13px;
    text-align: center;
  }
  .customers__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .customers__card {
    width: 100%;
    height: 205px;
  }
  .customers__text {
    max-width: 100%;
    text-align: center;
  }
  .customers__img {
    left: 35%;
  }
}
.faq {
  padding: 175px 0;
}
.faq__info {
  padding-bottom: 70px;
}
.faq__description {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  padding-bottom: 20px;
}
.faq__title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #3D4F9F;
}
.faq__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}
.faq__button {
  background-color: #E8ECF4;
  border-radius: 2px;
}
.faq__button a {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #7382A3;
  padding: 13px 0;
  display: block;
}
.faq .accordion-body {
  padding: 0 80px 40px;
}
.faq .accordion-button {
  padding: 25px 0;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #8E96B7;
  transition: 0.6s;
}
.faq .accordion-button:before {
  flex-shrink: 0;
  width: 17px;
  height: 11px;
  margin: 0 25px;
  content: "";
  background-image: url("../img/arrow_acc.svg");
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.faq .accordion-button:after {
  content: unset;
}
.faq .accordion-button:not(.collapsed)::before {
  background-image: url("../img/arrow_acc-active.svg");
}
.faq .accordion-button:not(.collapsed) {
  color: #495274;
  font-weight: 700;
  background-color: unset;
  box-shadow: unset;
}
.faq .accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}

@media (max-width: 992px) {
  .faq {
    padding: 100px 0;
  }
  .faq__text {
    padding: 0 0 20px 0;
  }
  .faq__button {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .faq {
    padding: 55px 0;
  }
  .faq__description {
    font-size: 13px;
  }
  .faq .accordion-body {
    padding: 0 10px 20px;
  }
  .faq .accordion-button:before {
    margin-left: 0;
  }
}
.footer {
  padding: 90px 0;
}
.footer .container {
  flex-wrap: wrap;
}
.footer__info {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #AEB8D0;
  padding: 28px 0 0 100px;
}

@media (max-width: 992px) {
  .footer__info {
    padding-left: 60px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 45px 0;
  }
  .footer .container .row {
    width: 50% !important;
  }
  .footer__info {
    padding-top: 0;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 30px 0;
  }
  .footer .container .row {
    width: 80% !important;
  }
  .footer__info {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
