@media (max-width: 767px) {
  .singUp{
    padding: 70px 0;
    text-align: center;
    &__info{
      padding-bottom: 30px;
    }
  }
}
@media (max-width: 576px) {
  .singUp{
    &__form{
      padding-bottom: 10px;
    }
  }
}
